<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyD5Bn9ntE8y40MLREymEq3VP5OAfVWzY</string>
	<key>GCM_SENDER_ID</key>
	<string>375872375930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ysug.arcadia</string>
	<key>PROJECT_ID</key>
	<string>ysug-arcadia-46a15</string>
	<key>STORAGE_BUCKET</key>
	<string>ysug-arcadia-46a15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375872375930:ios:72810ec5e82addc2d5ffc3</string>
	<key>DATABASE_URL</key>
	<string>https://ysug-arcadia-46a15-default-rtdb.firebaseio.com</string>
</dict>
</plist>