<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSj5-oBd8uP-Vo2V4id1DAFckYd-zZG0E</string>
	<key>GCM_SENDER_ID</key>
	<string>263565338043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arcadiaMobile</string>
	<key>PROJECT_ID</key>
	<string>ysug-arcadia-aaa5e</string>
	<key>STORAGE_BUCKET</key>
	<string>ysug-arcadia-aaa5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263565338043:ios:d56d009c94d2a73e99909e</string>
</dict>
</plist>